@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-brand: #0891b2;
  /* cyan-600 */
  --color-surface: #ffffff;
  --color-text-main: #09090b;
  /* zinc-950 */
  --color-text-muted: #71717a;
  /* zinc-500 */
}

@layer base {
  body {
    @apply bg-white text-zinc-950 antialiased;
  }

  /* Ajuste da seleção para o tema claro */
  ::selection {
    @apply bg-cyan-100 text-cyan-900;
  }
}